<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no"
    />
    <title>Happy Birthday</title>
    <link rel="stylesheet" href="css/jquery.fullPage.css"/>
    <link rel="stylesheet" href="css/memories.css"/>
</head>

<body>
<!-- 背景音乐 -->

<div class="bgcolor">
    <div style="z-index: 100" id="dowebok">
        <!--第一屏-->
        <div class="section">
            <div class="ly-box01">
                <div class="ly-txt01">
                    <p>正值冬日，如果说什么能带来温暖，我也说不清楚，我</p>
                    <p>想这些祝福可以给你在冬日带来一丝温暖，去抵御这个</p>
                    <p>冬天的寒冷</p>
                    <p>编导：洋洋洋</p>
                    <p>总监：张老师</p>
                    <p>友情出演：</p>
                    <p>婷宝、蜜wei、图图、_禁少、ice_橙汁儿、幕崽</p>
                    <p>林妤、迷雾、筱柒、酒笙js、万叶执秋、悦宝</p>
                    <p>八卦教父、只为五斗-米-折腰-xy</p>
                </div>
                <div class="ly-imgbox01">
                    <img class="ly-img01" src="img/mg.jpg" alt="米伽"/>
                </div>
            </div>
        </div>

        <!--第二屏-->

        <div class="section">
            <div class="timeline"></div>
            <div class="timepoint11"></div>
            <div class="ly-box11">
                <div class="ly-txt11">Aay_予婷</div>
                <div class="ly-imgbox11">
                    <img class="ly-img11" src="img/tb.jpg" alt="Aay_予婷"/>
                </div>
            </div>
            <div class="ly-triangle11"></div>

            <div class="ly-box12">
                <div class="ly-txt14">
                    <p>虽然只是一个小小的问候 但那是我的挂念</p>
                    <p>虽然只是一句轻轻的祝福 但那是我的心声</p>
                    <p>虽然只是一首心曲 祝有个好心情 生日快乐</p>
                    <p>愿你今后的生活多一些不需要理由的快乐</p>
                    <p>愿这悠长岁月温柔安好有回忆煮酒</p>
                    <p>愿你没有软肋也不需要铠甲，愿你像风不受煎熬不受约束。</p>
                    <p>如果说时光像是电视遥控器，那么你就是快乐的频道</p>
                    <p>带着幸福的信号，每一天都开怀大笑，特别是生日的报道,</p>
                    <p>我对你说一声生日快乐，收视率一定会狂飙</p>
                    <p>Happy Birthday</p>
                </div>
            </div>
            <div class="ly-triangle12"></div>
        </div>

        <!--第三屏-->

        <div class="section">
            <div class="timeline"></div>
            <div class="timepoint21"></div>
            <div class="ly-box21">
                <div class="ly-txt21">蜜wei</div>
                <div class="ly-txt22">
                    <p>朋友是船,网络是帆,空间</p>
                    <p>如岸,家似港湾,洗掉征尘,</p>
                    <p>绽开笑脸,借助网络,送去</p>
                    <p>祝愿,醒来是笑,入睡是甜,</p>
                    <p>心随人愿,幸福永远。</p>
                    <p>生日快乐！</p>
                </div>
                <div class="ly-imgbox21">
                    <img class="ly-img21" src="img/wei.jpg" alt="蜜wei"/>
                </div>
            </div>
            <div class="ly-triangle21"></div>

            <div class="ly-box22">
                <div class="ly-txt23">图图</div>
                <div class="ly-txt24">
                    <p>祝福我标志迷人、聪明大方、</p>
                    <p>成熟端庄、温文尔雅、又倍</p>
                    <p>受赞叹的妙人儿迪迦姐姐，</p>
                    <p>生日快乐呀</p>
                </div>
                <div class="ly-imgbox22">
                    <img class="ly-img22" src="img/tt.jpg" alt="图图"/>
                </div>
            </div>
            <div class="ly-triangle22"></div>

            <div class="ly-box23">
                <div class="ly-txt25">_禁少</div>
                <div class="ly-txt26">
                    <p>一支蜡烛，一颗心愿，一份真情，花朝月夕，</p>
                    <p>如诗如画。祝你生日快乐、温馨、幸福……愿你</p>
                    <p>的生日充满无穷的快乐，愿你今天的回忆温馨，</p>
                    <p>愿你所有的梦想甜美，愿你这一年称心如意！</p>
                </div>
                <div class="ly-imgbox23">
                    <img class="ly-img23" src="img/js.jpg" alt="_禁少"/>
                </div>
            </div>
            <div class="ly-triangle23"></div>
        </div>

        <!--第四屏-->

        <div class="section">
            <div class="timeline"></div>
            <div class="timepoint31"></div>
            <div class="ly-box31">
                <div class="ly-txt31">ice_橙汁儿</div>
                <div class="ly-txt32">
                    <p>不知道这是我关注你的多少天了，你不仅给我们带来</p>
                    <p>了欢笑，还跟了我们分享了许多奇闻异事，希望这样</p>
                    <p>的日子会一直持续下去，你一直都会有一群挺你爱你</p>
                    <p>的小粉丝儿们，我们也会永远站在你背后无理由支持你</p>
                </div>
                <div class="ly-imgbox31">
                    <img class="ly-img31" src="img/cz.jpg" alt="ice_橙汁儿"/>
                </div>
            </div>
            <div class="ly-triangle31"></div>

            <div class="ly-box32">
                <div class="ly-txt33">幕崽</div>
                <div class="ly-txt34">
                    <p>米伽姨妈~我没有带刺的玫瑰，没有优雅的歌曲，没</p>
                    <p>有贵重的礼品，没有例外的惊喜，只有轻轻的祝福，</p>
                    <p>祝你生日快乐！祝我倾国倾城的，美貌无双比西施赛</p>
                    <p>貂蝉的米伽姨妈生日快乐~虽然很忙，但是得给我每</p>
                    <p>天都开开心心哒哦~啾咪~</p>
                </div>
                <div class="ly-imgbox32">
                    <img class="ly-img32" src="img/mz.jpg" alt="幕崽"/>
                </div>
            </div>
            <div class="ly-triangle32"></div>
        </div>

        <!--第五屏-->
        <div class="section">
            <div class="timeline"></div>
            <div class="timepoint41"></div>
            <div class="ly-box41">
                <div class="ly-txt41">林妤</div>
                <div class="ly-txt42">
                    <p>祝这个世界上最可爱美丽的</p>
                    <p>女孩子米伽生日快乐，祝你</p>
                    <p>快乐并常觉得人间值得，让</p>
                    <p>我们恭喜这位幼儿园大班小</p>
                    <p>朋友，今天祝你生日快乐啊</p>
                </div>
                <div class="ly-imgbox41">
                    <img class="ly-img41" src="img/ly.jpg" alt="林妤"/>
                </div>
            </div>
            <div class="ly-triangle41"></div>

            <div class="ly-box42">
                <div class="ly-txt43">迷雾</div>
                <div class="ly-txt44">
                    <p>米伽宝贝,自从遇见你我运</p>
                    <p>气特别差,因为我的好运气</p>
                    <p>都用来遇见你了,女孩子之</p>
                    <p>间有着莫名的吸引力,这也</p>
                    <p>是我喜欢你的万千原因之一,</p>
                    <p>希望你以后天天开心,拥有</p>
                    <p>自己的玫瑰与小麦,永远爱你</p>
                </div>
                <div class="ly-imgbox42">
                    <img class="ly-img42" src="img/mw.jpg" alt="迷雾"/>
                </div>
            </div>
            <div class="ly-triangle42"></div>

            <div class="ly-box43">
                <div class="ly-txt45">筱柒</div>
                <div class="ly-txt46">
                    <p>天空中的繁星呀，今天是我美人鱼姐姐生日，让她每天</p>
                    <p>开开心心的，烦恼少一点，快乐多一点，未来⽇⼦锦上</p>
                    <p>添花，知道不，你不说话我就当你答应啦，谢谢繁星姐</p>
                    <p>姐祝我家美人鱼姐姐生日快乐，岁岁常欢愉, 年年皆胜意</p>
                </div>
                <div class="ly-imgbox43">
                    <img class="ly-img43" src="img/xq.jpg" alt="筱柒"/>
                </div>
            </div>
            <div class="ly-triangle43"></div>
        </div>

        <!--第六屏-->
        <div class="section">
            <div class="timeline"></div>
            <div class="timepoint51"></div>
            <div class="ly-box51">
                <div class="ly-txt51">酒笙js</div>
                <div class="ly-txt52">
                    <p>祝米伽姐姐生日快乐，</p>
                    <p>天天开心，直播越做越</p>
                    <p>好。嗯，就这样。</p>
                </div>
                <div class="ly-imgbox51">
                    <img class="ly-img51" src="img/jius.jpg" alt="酒笙js"/>
                </div>
            </div>
            <div class="ly-triangle51"></div>
            <div class="ly-box52">
                <div class="ly-txt53">万叶执秋</div>
                <div class="ly-txt54">
                    <p>感谢遇见并成为你的优</p>
                    <p>哟，我爱瞎跑，跑着跑</p>
                    <p>着就没时间了，跑着跑</p>
                    <p>着牌子就黑了，我可能</p>
                    <p>是最不负责的优哟了吧</p>
                    <p>我在宿舍真的想再闪回</p>
                    <p>来，闪到你的心里</p>
                    <p>米伽，生日快乐</p>
                    <p>——最不负责的优哟</p>
                </div>
                <div class="ly-imgbox52">
                    <img class="ly-img52" src="img/qq.jpg" alt="万叶执秋"/>
                </div>
            </div>
            <div class="ly-triangle52"></div>
            <div class="ly-box53">
                <div class="ly-txt55">悦宝</div>
                <div class="ly-txt56">
                    <p>米伽，从我们刚刚认识到现在转眼已经快有一月了，曾</p>
                    <p>有一度还读不对你"伽"字发音，到后来偶尔的连线、凑</p>
                    <p>头、闲聊，在这之中我也学到了很多东西。如今迎来你</p>
                    <p>的"双满"，祝你越播越好，早日进入大主播行列，无论</p>
                    <p>何时都有人陪你</p>
                </div>
                <div class="ly-imgbox53">
                    <img class="ly-img53" src="img/yb.jpg" alt="悦宝"/>
                </div>
            </div>
            <div class="ly-triangle53"></div>
        </div>

        <!--第七屏-->
        <div class="section">
            <div class="timeline"></div>
            <div class="timepoint61"></div>
            <div class="ly-box61">
                <div class="ly-txt61">八卦教父</div>
                <div class="ly-imgbox61">
                    <img class="ly-img61" src="img/lc.jpg" alt="八卦教父"/>
                </div>
            </div>
            <div class="ly-triangle61"></div>

            <div class="ly-box62">
                <div class="ly-txt64">
                    <p>假如生命中不曾有过交集，是否我们</p>
                    <p>就不会沉溺在这换了的年华里，在顾</p>
                    <p>盼缘分往事回味着属于自己的小幸福，</p>
                    <p>咀嚼着生活的味道！想起这段谈天说</p>
                    <p>地的快乐时光，在记忆的脑海里始终</p>
                    <p>无法忽视的是一路走来的温暖气息，</p>
                    <p>当信服在心底蔓延，却也刚好打开心</p>
                    <p>扉，张开怀抱，任其在这平淡的生活</p>
                    <p>之中，开出绝美的幸福之花。</p>
                </div>
            </div>
            <div class="ly-triangle62"></div>
        </div>

        <!--第八屏-->
        <div class="section">
            <div class="timeline"></div>
            <div class="timepoint71"></div>
            <div class="ly-box71">
                <div class="ly-txt71">只为五斗-米-折腰-xy</div>
                <div class="ly-imgbox71">
                    <img class="ly-img71" src="img/wdm.jpg" alt="只为五斗-米-折腰-xy"/>
                </div>
            </div>
            <div class="ly-triangle71"></div>

            <div class="ly-box72">
                <div class="ly-txt74">
                    <p>依稀记得那天无聊刷封面找主播，无意间点进你直播</p>
                    <p>间发现，诶？！声音好听耶！闲逛之余也就多点进来</p>
                    <p>几次。"有梦，你又来了，酒笙都说海丝哥又来了呢。</p>
                    <p>你就在我这等你喜欢的那个主播吧"是你这句话和你</p>
                    <p>的声音留住了我。而我们的故事也慢慢的一天天在上</p>
                    <p>演，茶的满月煽情，我的日常话痨，各位上述"友情</p>
                    <p>出演"小耳朵们的欢声笑语。很开心认识你们，在我</p>
                    <p>最迷茫的时期给我动力、给我方向。也是因为你那句</p>
                    <p>"多会给我看腹肌"给了我减肥健身的动力，我从那</p>
                    <p>时开始从迷茫彷徨仿佛找到了目标和追逐的道路，让</p>
                    <p>我自己不是一直沉沦迷惘。谢谢你和茶对我的督促监</p>
                    <p>督，让我的生活变得有意思、变得更加阳光向上。</p>
                    <p>提前祝你生日快乐哟~</p>
                </div>
            </div>
            <div class="ly-triangle72"></div>
        </div>
    </div>
    <!--动态方块-->
    <ul class="bg-bubbles">
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
        <li v-for="(item, index) in bubbles" :key="index"></li>
    </ul>
</div>
<audio id="bg-music" src="music/bg3.mp3" loop="loop"></audio>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/jquery.fullPage.min.js"></script>
<script src="js/memories.js"></script>
<script src="js/autoPlay.js"></script>
</body>
</html>
